.product {
    display: grid;
    grid-template-columns: 70px 3fr 1.5fr 1fr 1fr;
    grid-template-areas:
        "logo title price credit rating"
        "logo tags priceTitle creditTitle reviewCount"
        "hr hr hr hr hr"
        "description description description description description"
        "feature feature advBlock advBlock advBlock"
        "hr2 hr2 hr2 hr2 hr2"
        "actions actions actions actions actions"
    ;
    margin-top: 30px;
    padding: 30px;
    gap: 0px 30px;
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}

.tags {
    grid-area: tags;
}

.price {
    grid-area: price;
}

.priceTitle {
    grid-area: priceTitle;
}

.credit {
    grid-area: credit;
}

.creditTitle {
    grid-area: creditTitle;
}

.rating {
    grid-area: rating;
    white-space: nowrap;
}

.reviewCount {
    grid-area: reviewCount;
}

.description {
    grid-area: description;
}

.hr {
    grid-area: hr;
}

.hr2 {
    grid-area: hr2;
}

.actions {
    grid-area: actions;
}

.feature {
    grid-area: feature;
}

.advBlock {
    grid-area: advBlock;
}

.logo img {
    border-radius: 5px;
}

.title {
    font-size: 20px;
    align-self: baseline;
}

.price,
.credit {
    font-size: 20px;
    line-height: 27px;
    align-self: flex-end;
}

.priceTitle,
.creditTitle,
.reviewCount {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.oldPrice {
    margin-left: 5px;
}

.rating {
    align-self: flex-end;
}

.month {
    margin-left: 5px;
    font-size: 14px;
    line-height: 19px;
}

.tags {
    padding-top: 9px;
}

.description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.actions Button:not(:last-child) {
    margin-right: 20px;
}

.advantagesTitle {
    font-weight: bold;
    margin-bottom: 5px;
}

.disadvantages {
    border-left: 2px solid var(--red);
    padding-left: 15px;
}

.advantages {
    border-left: 2px solid var(--green);
    padding-left: 15px;
    margin-bottom: 20px;
}

.characteristics {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    padding-right: 60px;
    line-height: 32px;
    align-items: baseline;
}

.characteristicsDoth {
    border-bottom: 1px dotted var(--gray-light);
}

.characteristicsName {
    font-weight: bold;
    font-size: 16px;
}

.reviewCount a {
    color: var(--primary);
}

.reviews {
    overflow: hidden;
    outline: none;
}

@media screen and (max-width: 1224px) {

    .product {
        display: grid;
        grid-template-columns: 70px 1fr 1fr 1fr;
        grid-template-areas:
            "logo title title title"
            "logo tags tags tags"
            "price price credit rating"
            "priceTitle priceTitle creditTitle reviewCount"
            "hr hr hr hr"
            "description description description description"
            "feature feature feature feature"
            "advBlock advBlock advBlock advBlock"
            "hr2 hr2 hr2 hr2"
            "actions actions actions actions"
        ;

    }

    .rating {
        white-space: nowrap;
    }

    .credit {
        white-space: nowrap;
    }

    .tags {
        padding-bottom: 20px;
    }

    .feature {
        padding-bottom: 20px;
    }
}

.closed {
    overflow: hidden;
    max-height: 0;
}

.opened {
    max-height: auto;
}

@media screen and (max-width: 640px) {

    .product {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-areas:
            "logo title"
            "logo tags"
            "priceTitle price"
            "creditTitle credit"
            "reviewCount rating"
            "hr hr"
            "description description"
            "feature feature"
            "advBlock advBlock"
            "hr2 hr2"
            "actions actions"
        ;
        gap: 10px 30px;
    }

    .priceTitle,
    .reviewCount .creditTitle {
        align-self: center;
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}