.searchTitle {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.ico {
    display: grid;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
}

.itemsProduct {
    display: grid;
    grid-template-columns: auto auto 1fr;
    margin-top: 30px;
    padding: 25px;
    gap: 15px;
    align-items: baseline;
}

.go {
    justify-self: end;
}