.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: baseline;
    justify-items: flex-start;
    margin-bottom: 30px;
}

.hh_title {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

.hh_data {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    gap: 30px;
}

.seoText {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    padding-top: 30px;
}

@media screen and (max-width: 640px) {

    .title {
        display: grid;
        grid-template-columns: auto 2fr;
        gap: 20px;
    }
}