.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--primary);
    color: var(--white);
    gap: 15px;
    align-items: center;
    justify-items: end;
    padding: 10px 20px;
}

.headerTitle {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.logoTitle {
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;
}

.mobMenu {
    display: none;
}

.deskMenu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
}

@media screen and (max-width: 765px) {

    .mobMenu {
        display: block;
    }

    .mobItemMenu {
        padding: 20px 20px 0 20px;
        position: fixed;
        background: #F5F6F8;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        overflow-y: scroll;
    }

    .mobLogo {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    .deskMenu {
        display: none;
    }

    .header {
        background: none;
        color: var(--black);
        padding: 20px 20px 0 20px;
    }

    .close {
        position: fixed;
        top: 20px;
        right: 15px;
        z-index: 11;
    }
}