.sort_rate {
    display: grid;
    grid-template-columns: auto auto;
    gap: 43px;
    align-items: center;
    white-space: nowrap;
}

.sort_rate button:hover {
    cursor: pointer;
    color: var(--primary);
}

.sort_rate button {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 22px;
}

.sort_icon {
    display: none;
}

.active .sort_icon {
    display: block;
}

.active {
    color: var(--primary);
    font-weight: bold;
    display: block;
}

.sortName {
    display: none;
}